{
  "ENV": "development",
  "BASE_URL": "resam.site",
  "API_SUBDOMAIN": "www",
  "ENABLE_SENTRY": "false",
  "SENTRY_DSN": "",
  "SECURE_STORAGE_PASSWORD": "dev_only_change_me",
  "AUTH_DEMO_MODE": "true"
}
