{
  "ENV": "production",
  "BASE_URL": "resam.site",
  "API_SUBDOMAIN": "www",
  "ENABLE_SENTRY": "true",
  "SENTRY_DSN": "https://YOUR_KEY@o0.ingest.sentry.io/0",
  "SECURE_STORAGE_PASSWORD": "replace_with_strong_secret",
  "AUTH_DEMO_MODE": "false"
}
